.error-page {
  margin-top: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 207px;
}.text {
  margin-top: 79px;
  color: #12B5FB;
  font-size: 54px;
}