.search-input {
  height: 62px;
  width: 100%;
  color: #fff;
  outline: none;
  border: none;
  text-align: center;
  background-color: #DEDEDE26;
  font-family: FontAwesome, var(--firago);
  z-index: 10;
}
