.search-form {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 85%;
  height: 63px;
  outline: none;
  border-radius: 5px;
  text-align: center;
  background-color: #DEDEDE26;
  color: #E7E7E7;
  font-size: 20px;
}
