.formm {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
}
.filter-radius {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 12px;
  width: 300px;
  height: 71px;
  font-size: 24px;
}
.boxes-parent {
  display: flex;
}
.filter-radius:hover,
.filter-radius:hover ::placeholder {
  border-color: var(--blue);
  color: var(--blue);
}
.filter-box {
  margin: 20px 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider > .MuiSlider-track,
.slider > .MuiSlider-rail {
  height: 10px !important;
  border: none;
}
.slider > .MuiSlider-track {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 188, 0.71) 0%,
    rgba(0, 178, 255, 0.6816) 100%
  );
}
.slider > .MuiSlider-rail {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 188, 0.71) 0%,
    rgba(0, 178, 255, 0.6816) 100%
  );
  opacity: 0.4;
}
.slider > .MuiSlider-thumb {
  background-color: #fff;
  width: 30px;
  height: 30px;
  box-shadow: none !important;
}
.css-nnid7-MuiSlider-valueLabel {
  background-color: var(--black) !important;
  font-size: 18px !important;
}

@media screen and (min-width: 474px) and (max-width: 683px) {

}

@media screen and (min-width: 474px) and (max-width: 772px){
  .country-dropdown {
    max-height: 227px;
  }
  .film-div {
    margin-left: 0.5rem;
  }
.film-search-filter-div {
   margin-top: 2.0625rem;
   margin-left: 1.5625rem;
   margin-right: 1.5625rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 473px) {
  .genre-buttons {
      border-radius: 5px !important;
    }
  
    .genre-buttons::before {
      border-radius: 5px !important;
    }

  .language-buttons {
      border-radius: 5px;
    }
  
    .language-buttons::before {
      border-radius: 5px;
    }

  .genre-parent {
    width: 228px;
    margin-top: 40px !important;
  }
  .language-dropdown {
    margin-top: 43px !important;
  }
  .year-range {
    width: 228px !important;
  }.rating-range {
    width: 228px !important;
  }
  .country-parent {
    margin-top: 40px !important;
  }.country-dropdown {
    width: 228px !important;
  }
  .film-div {
    font-size: 18px;
    gap: 8px;
  }
  .film-div > img {
    width: 24px;
    height: 24px;
  }

  .formm {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    width: 100%;
  }
  .filter-radius {
    width: 100%;
    height: 38px;
    font-size: 24px;
  }
  .film-search-filter-div {
    margin-top: 2.0625rem;
    margin-left: 2.0625rem;
    margin-right: 2.0625rem;
  }

  .filter-box {
    margin: 9px 20px 10px 20px;
  }
  .filter-box > input {
    font-size: 14px;
  }

  .film-container {
    margin-top: 10%;
  }

  /* dropdown div */
  .country-option > input,
  .genre-option > input,
  .language-option > input {
    width: 16px !important;
    height: 16px !important;
  }
  .country-option > label,
  .genre-option > label,
  .language-option > label {
    font-size: 16px;
  }

  /* country dropdowns */
  .country-dropdown {
    z-index: 1;
    width: 200px;
    gap: 3px;
    max-height: 127px;
    overflow-x: auto;
    overflow-y: auto;
  }

  /* genre dropdowns*/
  .genre-dropdown {
  max-height: 127px;
  overflow-x: auto;
  overflow-y: auto;
  }

}
