.formm {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 33px;
}
.filter-radius {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 12px;
  width: 314px;
  height: 71px;
  font-size: 24px;
}
.filter-radius:hover,
.filter-radius:hover ::placeholder {
  border-color: var(--blue);
  color: var(--blue);
}
.filter-box {
  margin: 20px 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider > .MuiSlider-track,
.slider > .MuiSlider-rail {
  height: 10px !important;
  border: none;
}
.slider > .MuiSlider-track {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 188, 0.71) 0%,
    rgba(0, 178, 255, 0.6816) 100%
  );
}
.slider > .MuiSlider-rail {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 188, 0.71) 0%,
    rgba(0, 178, 255, 0.6816) 100%
  );
  opacity: 0.4;
}
.slider > .MuiSlider-thumb {
  background-color: #fff;
  width: 30px;
  height: 30px;
  box-shadow: none !important;
}
.css-nnid7-MuiSlider-valueLabel {
  background-color: var(--black) !important;
  font-size: 18px !important;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .film-div {
    font-size: 18px;
    gap: 8px;
  }
  .film-div > img {
    width: 24px;
    height: 24px;
  }

  .formm {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    width: 100%;
  }
  .filter-radius {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 12px;
    width: 100%;
    height: 38px;
    font-size: 24px;
  }
  .film-search-filter-div {
    margin-top: 2.0625rem;
    margin-left: 2.0625rem;
    margin-right: 2.0625rem;
  }

  .filter-box {
    margin: 9px 20px 10px 20px;
  }
  .filter-box > input {
    font-size: 14px;
  }

  .film-container {
    margin-top: 10%;
  }

  /* dropdown div */
  .country-option > input,
  .genre-option > input,
  .language-option > input {
    width: 16px;
    height: 16px;
  }
  .country-option > label,
  .genre-option > label,
  .language-option > label {
    font-size: 16px;
  }

  /* country dropdowns */
  .language-dropdown {
    margin-left: 0;
    margin-top: 0;
    position: static;
    background: linear-gradient(0deg, #000000);
    color: #ffffff;
    padding: 0px;
    box-sizing: border-box;
  }
  .country-dropdown {
    z-index: 5;
    width: 300px;
    gap: 10px;
    max-height: 221px;
    overflow-x: auto;
    overflow-y: auto;
    background: black;
    color: #ffffff;
    border-radius: 5px;
    height: auto;
  }
  .country-option {
    display: block;
    align-items: unset;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 20);
    margin-right: 10px;
    margin-bottom: 10px;
  }

  /* genre dropdowns*/
  .genre-dropdown {
  width: 104%;
  background: black;
  color: #FFFFFF;
  border-radius: 5px;
  max-height: 221px;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
  }
  /* rating dropdown */

}
