.header {
  position: relative;
  background-color: rgba(23, 23, 23, 0.5);
  z-index: 10;
}

.header-link {
  font-style: normal;
  font-weight: 600;
  color: #e7e7e7;
  transition: 0.3s ease;
}

.header-link.active,
.header-link:hover {
  color: var(--blue);
}

.header-link:last-of-type {
  margin-right: 0;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .header {
    padding: 1.87em 10em;
  }

  .header-link {
    font-size: 1.125em;
    margin-right: 4.2em;
  }

  /* Above 2100px */
  @media only screen and (width >= 2100px) {
    .header {
      padding: 2.2em 10em;
    }

    .header-link {
      font-size: 1.4em;
    }
  }

  /* Below 1800px */
  @media only screen and (width <= 1800px) {
    .header {
      padding: 1.8em 9em;
    }

    .header-link {
      font-size: 1.05em;
    }
  }

  /* Below 1560px */
  @media only screen and (width <= 1560px) {
    .header-link {
      font-size: 1em;
    }
  }
}
