.film-search-filter-div {
  margin-top: 27px;
  margin-left: 62px;
  margin-right: 78px;
}
.film-div {
  display: flex;
  font-size: 36px;
  color: #e7e7e7;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  margin-bottom: 49px;
}
/* ფილმები */
.film-container {
  margin-top: 180px;
  margin-bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
}
.film-container > .all-movie-card {
  margin: 38px 14px;
}
/* font sizes & color & positions */
.h1 {
  margin-top: 9px;
  margin-left: 15px;
  font-size: 24px;
  color: #ffffff;
}
.h2 {
  font-size: 18px;
  color: #ffffff99;
  margin-left: 15px;
}
.p1 {
  margin-top: 9px;
  font-size: 18px;
  color: #ffffff;
  margin-right: 39px;
}
.p2 {
  margin-right: 28px;
  font-size: 18px;
  color: #ffffff;
}

@media only screen and (width <= 1750px) {
  .film-container {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

@media only screen and (width <= 1640px) {
  .film-container {
    margin-top: 130px;
    margin-bottom: 130px;
  }

  .film-container > .all-movie-card {
    margin: 30px 12px;
  }
}

@media only screen and (width <= 1430px) {
  .film-container {
    margin-top: 110px;
    margin-bottom: 110px;
  }

  .film-container > .all-movie-card {
    margin: 22px 10px;
  }
}

@media only screen and (width <= 1301px) {
  .film-container > .all-movie-card {
    margin: 22px 30px;
  }
}

@media only screen and (width <= 1141px) {
  .film-container > .all-movie-card {
    margin: 22px 20px;
  }
}

@media only screen and (width <= 1032px) {
  .film-container > .all-movie-card {
    margin: 22px 15px;
  }
}

@media only screen and (width < 900px) {
  .film-container {
    margin-top: 20px !important;
    margin-bottom: 80px !important;
    padding: 0 33px !important;
  }

  .film-container > .all-movie-card {
    margin: 40px 15px;
  }
}

@media only screen and (width <= 765px) {
  .film-container > .all-movie-card {
    margin: 40px 10px;
  }
}

@media only screen and (width <= 705px) {
  .film-container > .all-movie-card {
    margin: 35px 10px;
  }
}

@media only screen and (width <= 675px) {
  .film-container > .all-movie-card {
    margin: 35px 6px;
  }
}

@media only screen and (width <= 485px) {
  .film-container > .all-movie-card {
    margin: 30px 4px;
  }
}

@media only screen and (width <= 472px) {
  .film-container > .all-movie-card {
    margin: 30px 20px;
  }
}

@media only screen and (width <= 434px) {
  .film-container > .all-movie-card {
    margin: 30px 15px;
  }
}

@media only screen and (width <= 425px) {
  .film-container {
    margin-top: 20px !important;
    margin-bottom: 70px !important;
    padding: 0 28px !important;
  }

  .film-container > .all-movie-card {
    margin: 30px 12px;
  }
}

@media only screen and (width <= 372px) {
  .film-container > .all-movie-card {
    margin: 30px 8px;
  }
}

@media only screen and (width <= 336px) {
  .film-container > .all-movie-card {
    margin: 25px 6px;
  }
}
