.film-search-filter-div {
  margin-top: 27px;
  margin-left: 62px;
  margin-right: 78px;
}
.film-div {
  display: flex;
  font-size: 36px;
  color: #e7e7e7;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  margin-bottom: 49px;
}

.search-input {
  text-align: center;
  outline: none;
  height: 62px;
  background: #dedede26;
  color: #e7e7e7b2;
  width: 100%;
  font-family: FontAwesome, var(--firago);
}
/* ფილმები */
.films-main {
  padding: 0;
}
.film-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
  padding: 0px 210px 0px 152px;
}

.film {
  position: relative;
  gap: 28px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 74px;
}
.film img {
  width: 344px;
  height: 459px;
  object-fit: cover;
}.film img:hover {
  opacity: 25%;
}
/* Text box */
.image-texts {
  width: 344px;
  height: 90px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  backdrop-filter: blur(9px);
  padding: 10px;
}

.satauri-rating,
.title-imdb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* font sizes & color & positions */
.h1 {
  margin-top: 9px;
  margin-left: 15px;
  font-size: 24px;
  color: #ffffff;
}
.h2 {
  font-size: 18px;
  color: #ffffff99;
  margin-left: 15px;
}
.p1 {
  margin-top: 9px;
  font-size: 18px;
  color: #ffffff;
  margin-right: 39px;
}
.p2 {
  margin-right: 28px;
  font-size: 18px;
  color: #ffffff;
}

.PLAY-img {
  position: absolute;
  width: 157px !important;
  height: 157px !important;
  display: none;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.film:hover .PLAY-img {
  display: block;
}