.film-search-filter-div {
  margin-top: 27px;
  margin-left: 62px;
  margin-right: 78px;
}
.film-div {
  display: flex;
  font-size: 36px;
  color: #e7e7e7;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  margin-bottom: 49px;
}
/* ფილმები */
.film-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
  padding: 0px 7.92% 4% 7.92%;
}
/* font sizes & color & positions */
.h1 {
  margin-top: 9px;
  margin-left: 15px;
  font-size: 24px;
  color: #ffffff;
}
.h2 {
  font-size: 18px;
  color: #ffffff99;
  margin-left: 15px;
}
.p1 {
  margin-top: 9px;
  font-size: 18px;
  color: #ffffff;
  margin-right: 39px;
}
.p2 {
  margin-right: 28px;
  font-size: 18px;
  color: #ffffff;
}
