.sidebar {
  background-color: rgba(23, 23, 23, 0.5);
  transition: all 0.4s ease, box-shadow 0.45s linear;
  z-index: 10;
}

.sidebar-navigation {
  height: 100%;
}

.sidebar-link:last-of-type {
  margin-bottom: 0;
}

.sidebar-link {
  position: relative;
}

.sidebar-link,
.sidebar-link > span,
.sidebar-link > svg path {
  transition: 0.3s ease;
}

.sidebar-link.active > span,
.sidebar-link:hover > span {
  color: var(--blue);
}

.sidebar-link.active > svg path,
.sidebar-link:hover > svg path {
  fill: var(--blue);
}

.sidebar-link > span {
  color: var(--white);
  font-style: normal;
  font-weight: 600;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  background-color: #c40000;
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 0;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .sidebar {
    padding: 1em;
  }

  .soon {
    font-size: 0.5em;
    padding: 0.1rem 0.15rem;
    right: -5px;
  }

  .brand-logo > img {
    width: 3.0625em;
    height: 3.0625em;
  }

  .sidebar-navigation {
    margin-top: 5.5em;
    padding-bottom: 1em;
  }

  .sidebar-link {
    margin-bottom: 2.7em;
  }

  .sidebar-link > svg {
    margin-bottom: 0.4em;
    width: 1.6em;
    height: 1.6em;
  }

  .sidebar-link > span {
    font-size: 0.7em;
  }

  /* Above 2100px */
  @media only screen and (width >= 2100px) {
    .sidebar {
      padding: 1em 1.2em;
    }

    .soon {
      font-size: 0.6em;
      padding: 0.15rem 0.2rem;
      right: -9px;
    }

    .brand-logo > img {
      width: 3.5em;
      height: 3.5em;
    }

    .sidebar-link > svg {
      margin-bottom: 0.4em;
      width: 2em;
      height: 2em;
    }

    .sidebar-link > span {
      font-size: 0.8em;
    }
  }

  /* Below 1800px */
  @media only screen and (width <= 1800px) {
    .soon {
      right: -8px;
    }

    .brand-logo > img {
      width: 2.9em;
      height: 2.9em;
    }

    .sidebar-navigation {
      margin-top: 5em;
    }

    .sidebar-link {
      margin-bottom: 2.5em;
    }

    .sidebar-link > svg {
      width: 1.5em;
      height: 1.5em;
    }

    .sidebar-link > span {
      font-size: 0.65em;
    }
  }

  /* Below 1560px */
  @media only screen and (width <= 1560px) {
    .sidebar {
      padding: 0.85em;
    }

    .brand-logo > img {
      width: 2.75em;
      height: 2.75em;
    }

    .sidebar-navigation {
      margin-top: 5em;
    }

    .sidebar-link {
      margin-bottom: 2.3em;
    }

    .sidebar-link > svg {
      width: 1.45em;
      height: 1.45em;
      margin-bottom: 0.55em;
    }

    .sidebar-link > span {
      font-size: 0.63em;
    }
  }

  /* Below 1250px */
  @media only screen and (width <= 1250px) {
    .sidebar {
      padding: 0.8em;
    }

    .brand-logo > img {
      width: 2.6em;
      height: 2.6em;
    }

    .sidebar-link {
      margin-bottom: 2.1em;
    }

    .sidebar-link > svg {
      width: 1.3em;
      height: 1.3em;
      margin-bottom: 0.5em;
    }

    .sidebar-link > span {
      font-size: 0.6em;
    }
  }

  /* Below 1140px */
  @media only screen and (width <= 1140px) {
    .sidebar-navigation {
      margin-top: 5em;
      padding-bottom: 0.7em;
    }

    .soon {
      right: -9px;
    }

    .brand-logo > img {
      width: 2.4em;
      height: 2.4em;
    }

    .sidebar-link {
      margin-bottom: 2.3em;
    }

    .sidebar-link > svg {
      width: 1.2em;
      height: 1.2em;
      margin-bottom: 0.5em;
    }

    .sidebar-link > span {
      font-size: 0.55em;
    }
  }
}

/* Tablet */
@media only screen and (width < 1024px) {
  .sidebar {
    padding: 0.8em 0.85em;
  }

  .soon {
    font-size: 0.5em;
    padding: 0.1rem 0.15rem;
    right: -9px;
  }

  .brand-logo > img {
    width: 2.35em;
    height: 2.35em;
  }

  .sidebar-navigation {
    margin-top: 4.5em;
    padding-bottom: 0.7em;
  }

  .sidebar-link {
    margin-bottom: 2.2em;
  }

  .sidebar-link > svg {
    width: 1.1em;
    height: 1.1em;
    margin-bottom: 0.5em;
  }

  .sidebar-link > span {
    font-size: 0.55em;
  }

  /* Below 900px */
  @media only screen and (width <= 900px) {
    /* Add New Sidebar Styles Below 900px */
    .sidebar {
      padding: 3.8em 0 2.9em;
      position: fixed;
      height: 100vh;
      width: 0;
      right: 0;
      top: 0;
      border-radius: 0.625rem 0rem 0rem 0.625rem;
      background: linear-gradient(
        0deg,
        rgba(6, 56, 77, 0.9) -3.51%,
        rgba(0, 0, 0, 0.9) 42.16%,
        rgba(16, 37, 46, 0.9) 98.18%
      );
      overflow-y: auto;
      overflow-x: hidden;
      backdrop-filter: blur(5px);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      z-index: 11;
    }

    .sidebar-open {
      width: 25em;
      box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
    }

    .brand-logo > img {
      width: 3em;
      height: 3em;
    }

    .soon {
      font-size: 0.5em;
      padding: 0.1rem 0.15rem;
      top: 10px;
      right: 140px;
    }

    .sidebar-border {
      height: 1px;
      width: 100%;
      background: linear-gradient(
        90deg,
        rgba(82, 141, 234, 0.51) 31.56%,
        rgba(18, 181, 251, 0.7) 42.76%,
        rgba(255, 0, 184, 0.7) 72.22%,
        rgba(255, 0, 184, 0.7) 86.4%,
        rgba(250, 36, 190, 0.7) 101.39%
      );
      background-blend-mode: lighten;
      margin: 3rem 0;
    }

    .sidebar-close {
      position: absolute;
      top: 2em;
      right: 0.9em;
    }

    .sidebar-close > img {
      width: 2.3em;
      height: 2.3em;
    }

    .sidebar-navigation,
    .sidebar-link {
      width: 100%;
    }

    .sidebar-navigation {
      margin-top: 2.8em;
      padding: 0;
    }

    .sidebar-link {
      height: 2.9375em;
      padding-left: 2em;
      margin-bottom: 0.95em;
    }

    .sidebar-additional-settings > .sidebar-link:last-of-type {
      margin-top: 3.32em;
    }

    .sidebar-link.active {
      background: linear-gradient(
        90deg,
        rgba(255, 0, 184, 0.64) 0%,
        rgba(128, 97, 220, 0.64) 53.06%,
        rgba(18, 181, 251, 0.64) 100%
      );
    }

    .sidebar-link > img {
      width: 1.75em;
      height: 1.75em;
      margin-right: 2.55em;
    }

    .sidebar-link > span {
      color: var(--pure-white) !important;
      font-size: 1.05em;
      font-style: normal;
      font-weight: 400;
    }
  }

  /* Below 650px */
  @media only screen and (width <= 650px) {
    .sidebar-open {
      width: 22.5em;
    }

    .soon {
      font-size: 0.6em;
      padding: 0.15rem 0.15rem;
      right: 115px;
    }
  }

  /* Below 465px */
  @media only screen and (width <= 465px) {
    .sidebar-open {
      width: 20em;
    }

    .soon {
      font-size: 0.6em;
      padding: 0.15rem 0.15rem;
      right: 70px;
    }
  }
}

/* Mobile */
@media only screen and (width <= 425px) {
  .sidebar {
    padding: 3.5em 0 2em;
  }

  .sidebar-open {
    width: 19em;
  }

  .brand-logo > img {
    width: 2.85em;
    height: 2.85em;
  }

  .soon {
    font-size: 0.6em;
    padding: 0.15rem 0.15rem;
    right: 50px;
    top: 10px;
  }

  .sidebar-close {
    top: 1.5em;
    right: 0.9em;
  }

  .sidebar-close > img {
    width: 2em;
    height: 2em;
  }

  .sidebar-navigation {
    margin-top: 2.5em;
  }

  .sidebar-link {
    height: 3em;
    padding-left: 2em;
    margin-bottom: 0.95em;
  }

  .sidebar-additional-settings > .sidebar-link:last-of-type {
    margin-top: 3.32em;
  }

  .sidebar-link > img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 3.6em;
  }

  .sidebar-link > span {
    font-size: 1.01em;
  }

  /* Below 390px */
  @media only screen and (width <= 390px) {
    .sidebar {
      padding: 3.5em 0 1em;
    }

    .sidebar-open {
      width: 16.5625em;
    }

    .brand-logo > img {
      width: 2.6em;
      height: 2.6em;
    }

    .soon {
      font-size: 0.5em;
      padding: 0.15rem 0.15rem;
      right: 30px;
    }

    .sidebar-close > img {
      width: 1.9em;
      height: 1.9em;
    }

    .sidebar-link {
      height: 2.9375em;
    }

    .sidebar-additional-settings > .sidebar-link:last-of-type {
      margin-top: 3.1em;
    }

    .sidebar-link > img {
      margin-right: 2.55em;
    }

    .sidebar-link > span {
      font-size: 0.98em;
    }
  }

  /* Below 350px */
  @media only screen and (width <= 350px) {
    .sidebar-open {
      width: 15.5em;
    }

    .brand-logo > img {
      width: 2.5em;
      height: 2.5em;
    }

    .sidebar-close > img {
      width: 1.8em;
      height: 1.8em;
    }

    .sidebar-link {
      height: 2.8em;
      padding-left: 1.5em;
    }

    .sidebar-additional-settings > .sidebar-link:last-of-type {
      margin-top: 3em;
    }

    .sidebar-link > img {
      width: 1.45em;
      height: 1.45em;
      margin-right: 2.7em;
    }

    .sidebar-link > span {
      font-size: 0.93em;
    }
  }
}
